body{
  background-color: #F0F0F0;
}


#footer-2 li{
   padding: 15px 0;
   display: block;
 }

 #footer-3 li{
   padding: 8px 0;
   display: block;
 }
footer{
   background-color: grey;
   margin-top: 50px;
   color: white;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 40px 0;
   align-items: center;
   display: flex;
 }

 #footer-1 img{
    max-width: 200px;
  }



  @media only screen and (max-width: 1024px){

  	body{
  		background-color: #E43F6F;
  	}
}
@media only screen and (max-width: 667px){

  body{
    background-color: #F56476;
  }
}
@media only screen and (max-width: 640px){

  body{
    background-color: #BE3E82;
  }
}
