body{
  background-color: white;
}

.sec1{

  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/large/01-snub-nosed-monkey.jpg') top center;
  background-size: cover;
  min-height: 80vh;
}
h3{
  color: white;
  border-radius: 25px;
  background: #661FFF;
  padding: 20px;
  width: 150px;
  height: 40px;
}

.sec2{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.sec3{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

  @media only screen and (max-width: 1024px){

  	body{
  		background-color: #E43F6F;
  	}
}
@media only screen and (max-width: 667px){

  body{
    background-color: #F56476;
  }
}
@media only screen and (max-width: 640px){

  body{
    background-color: #BE3E82;
  }
}
